<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102327249701-6tavj2tfem2grqb744bo6ap41scbap28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102327249701-6tavj2tfem2grqb744bo6ap41scbap28</string>
	<key>API_KEY</key>
	<string>AIzaSyBOMxpda-OmlivGn0kbx8JNVMSjrlT0u0I</string>
	<key>GCM_SENDER_ID</key>
	<string>102327249701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nathan.breadbox</string>
	<key>PROJECT_ID</key>
	<string>breadbox-2de1d</string>
	<key>STORAGE_BUCKET</key>
	<string>breadbox-2de1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102327249701:ios:13a97611f31299ce2c48cc</string>
</dict>
</plist>